<!DOCTYPE html>
	<html lang="fr">
	<% include ./partials/head %>    
	<body>
		<% include ./partials/header %>
		
		<div class="central">
        	<h1><%= movie.movietitle %></h1>
			<div>
				<form action="/movie-details/<%= movie._id %>" method="post">
					<legend>Modifier le livre</legend>
					<label for="movietitle">Titre du livre</label>
					<input type="text" name="movietitle" id="movietitle" value="<%= movie.movietitle %>">
					<label for="movieyear">Année du livre</label>
					<input type="text" name="movieyear" id="movieyear" value="<%= movie.movieyear %>">
					<label for="author">Auteur du livre</label>
					<input type="text" name="author" id="author" value="<%= movie.author %>">
					<label for="author">Genre du livre</label>
					<input type="text" name="genre" id="genre" value="<%= movie.genre %>">
					<button type="submit">Mettre à jour</button>
				</form>
				<button id="btnSuppr">Vire-moi ça !</button>
			</div>
		</div>
		<footer>
			<% include ./partials/footer %>
		</footer>

		<script>
			let btnSuppr = document.getElementById('btnSuppr');
			btnSuppr.addEventListener('click', deleteDocument);

			function deleteDocument() {
				var movieId = <%- JSON.stringify(movie._id) %>;
				var url = '/movie-details/' + movieId;

				axios.delete(url)
					.then(function (response) {
					window.location = '/movies';
                })
					.catch(function (error) {
						console.error(error);
                    });
            }
		</script>

	</body>	
</html>